
.conteiner{
	display:flex;
	margin-right:auto;
	margin-left:auto;
	width:900px;
}

.center{
	width:600px;
	margin-right:35px;
}

.nowRaceBox{	
	margin-bottom:30px;
}

.nowRaceContents{
	display:flex;
	justify-content:space-between;
	border:solid 1px ;
	padding:10px;
}

.nowRace{
	margin-right:20px;
	border:solid 1px ;
	padding:10px;
}

.article{
	width:600px;
}

.letter{
	display:flex;
	border-bottom:dotted 1px;
	padding-bottom:10px;
}

.title{
	font-size: 20px;
}
.article_contents{
}

.article_img {
	width:270px; 
	height:200px;
	margin-left:10px;
}

.article_table{
}

.article_table td{
	border-bottom:dotted 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	width:600px;
}

.weekly_main_race{
	margin-top:50px;
}

.main_race_view{
	width:600px;
	height:670px;
	background-color: gray;
}

.right_contents1{
	width:300px;
	height:250px;
	margin-bottom:20px;
}

.right_contents2{
	width:300px;
	height:95px;
	margin-bottom:20px;
	background-color: gray;
}

.right_contents3{
	width:300px;
	height:310px;
	background-color: gray;
}










